<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
}
th
{
  background-color:red;
  color:white;

}
td
{
  font-family:monospace;
  color:white;
  background-color:green;
}
ul {
  margin: 0;
  padding: 0;
  background-color: brown;
}

li {
  float: right;
  background-color:black;
  color:white;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color:white;

}

li a:hover {
  background-color: darkgrey;
}
</style>
<ul style="background-color:black">

  <li><a href="index">logout</a></li>
</ul>

<table style="width:100%; border=2px">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Admin</th>
    <th>Class</th>
    <th>Section</th>
    <th>result</th>
  </tr>
  <tr style="align:center">
    <td>{{name}}</td>
    <td>{{code}}</td>
    <td>{{admin}}</td>
    <td>{{class}}</td>
    <td>{{section}}</td>
    <td>{{result}}</td>
  </tr>

</table>
